name: YT
on:
    workflow_dispatch:
    schedule:
        - cron: "*/15 * * * *"

permissions:
    contents: write

jobs:
    update-readme-with-yt:
        name: Update latest uploads
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            -   name: Get YT Videos
                uses: gautamkrishnar/blog-post-workflow@6a6e64abd1f651445da8e59611d0ca0110979aa5 # v1
                with:
                    readme_path: "./profile/README.md"
                    comment_tag_name: "YOUTUBE"
                    feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UCQQrKnfeh1M8d6fZ7dSmxRQ"
                    custom_tags: "channelId/yt:channelId/,videoId/yt:videoId/"
                    date_format: "mmm d, yyyy"
                    template: '<table><tr><td><a href="$url"><img width="140px" src="https://i.ytimg.com/vi/$videoId/mqdefault.jpg"></a></td>$newline<td><a href="$url">$title</a><br/>$date</td></tr></table>$newline'
                    committer_email: "173940592+Neevoo45@users.noreply.github.com"
                    commit_message: "Updated YouTube videos!"
